<table align="right" class="table-responsive-md">
  <h3>Lista de personas</h3>
  <table class="table table-md table-striped table-bordered table-hover">
    <thead class="table-light">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido Paterno</th>
        <th scope="col">Apellido Materno</th>
        <th scope="col">Direccion</th>
        <th scope="col">Telefono</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let persona of listaPersonas">
        <td>{{ persona.nombre }}</td>
        <td>{{ persona.apellidoP }}</td>
        <td>{{ persona.apellidoM }}</td>
        <td>{{ persona.direccion }}</td>
        <td>{{ persona.telefono }}</td>
        <td><button (click)="editPerson(persona)" class="btn btn-warning">Editar</button></td>
        <td><button (click)="deleteModal(persona)" class="btn btn-danger">Eliminar</button></td>
      </tr>
    </tbody>
  </table>
</table>


<div class="modal fade" id="myModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngFor="let item of personaSeleccionada">
        <form #frmNewPersona="ngForm" (ngSubmit)="updatePersona(item,frmNewPersona)"> 
          <div class="mb-3">
             <label for="nombre">Nombre</label>
             <input type="text" class="form-control" name="nombre" placeholder="Julian" [(ngModel)]="item.nombre" required>
          </div>
          <div class="mb-3">
             <label for="apellidoP">Apellido paterno</label>
             <input type="text" class="form-control" name="apellidoP" placeholder="Montes"  [(ngModel)]="item.apellidoP" required>
          </div>
          <div class="mb-3">
             <label for="apellidoM">Apellido materno</label>
             <input type="text" class="form-control" name="apellidoM" placeholder="Escalante"  [(ngModel)]="item.apellidoM" required>
          </div>
          <div class="mb-3">
             <label for="direccion">Direccion</label>
             <input type="text" class="form-control" name="direccion" placeholder="Avenida principal #700, col. centro"  [(ngModel)]="item.direccion" required>
          </div>
          <div class="mb-3">
             <label for="telefono">Telefono</label>
             <input type="number" class="form-control" name="telefono" placeholder="4268531973"  [(ngModel)]="item.telefono" required>
          </div>
          <div class="mb-3">
             <button type="submit" class="btn btn-success">Actualizar</button>
             <button type="button" class="btn btn-danger" (click)="modalRefresh()">Cerrar</button>
          </div>
         
       </form>
      </div>
    </div>
  </div>
</div>