<div class="container">
    <mat-card class="card">
        <mat-card-title>Registro de personas</mat-card-title>
        <hr>
        <mat-card-content>
            <form>
                <mat-form-field>
                    <mat-label>Ingrese nombre </mat-label>
                    <input matInput placeholder="Ej: Juan">
                </mat-form-field><br>
                <mat-form-field>
                    <mat-label>Ingrese apellido paterno</mat-label>
                    <input matInput placeholder="Ej: Dominguez">
                </mat-form-field><br>
                <mat-form-field>
                    <mat-label>Ingrese apellido materno</mat-label>
                    <input matInput placeholder="Ej: Castelo">
                </mat-form-field><br>
                <mat-form-field>
                    <mat-label>Ingrese direccion</mat-label>
                    <input matInput placeholder="Ej: calle de los robles #234">
                </mat-form-field><br>
                <mat-form-field>
                    <mat-label>Ingrese telefono</mat-label>
                    <input matInput placeholder="Ej: 6649675720">
                </mat-form-field>
            </form>
        </mat-card-content>
    </mat-card>
</div>